<div class="body">
  <div class="images" id="images">
    <ng-image-slider
      id="carousel"
      [images]="imageObject"
      [infinite]="true"
      [autoSlide]="5"
      [imageSize]="imageSize"
      slideImage="1"
      [lazyLoading]="true"
      (imageClick)="imageClick()"
      (lightboxClose)="lightboxClose()"
    ></ng-image-slider>
    <!--<div class="image-gallery">
      <svg
        width="24px"
        height="24px"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M9.46967 5.46967C9.76256 5.17678 10.2374 5.17678 10.5303 5.46967L16.5303 11.4697C16.8232 11.7626 16.8232 12.2374 16.5303 12.5303L10.5303 18.5303C10.2374 18.8232 9.76256 18.8232 9.46967 18.5303C9.17678 18.2374 9.17678 17.7626 9.46967 17.4697L14.9393 12L9.46967 6.53033C9.17678 6.23744 9.17678 5.76256 9.46967 5.46967Z"
          fill="black"
        />
      </svg>
      <img src="../../assets/img/627752.jpg" />
      <div class="radio-buttons">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
      <svg
        width="24px"
        height="24px"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M9.46967 5.46967C9.76256 5.17678 10.2374 5.17678 10.5303 5.46967L16.5303 11.4697C16.8232 11.7626 16.8232 12.2374 16.5303 12.5303L10.5303 18.5303C10.2374 18.8232 9.76256 18.8232 9.46967 18.5303C9.17678 18.2374 9.17678 17.7626 9.46967 17.4697L14.9393 12L9.46967 6.53033C9.17678 6.23744 9.17678 5.76256 9.46967 5.46967Z"
          fill="black"
        />
      </svg>
    </div>-->
  </div>
  <div class="spinner-bg" *ngIf="(country$ | async) == undefined">
    <div class="spinner"></div>
  </div>

  <div class="info-container" id="info-container">
    <div
      class="edit-button"
      routerLink="/countries/{{ (country$ | async)?.name?.common }}/edit"
      *ngxPermissionsOnly="['ADMIN']"
    >
      <svg
        version="1.1"
        id="Layer_1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        viewBox="0 0 490.584 490.584"
        style="enable-background: new 0 0 490.584 490.584"
        xml:space="preserve"
      >
        <g>
          <g>
            <path
              d="M100.911,419.404l123.8-51c3.1-2.1,6.2-4.2,8.3-6.2l203.9-248.6c6.2-9.4,5.2-21.8-3.1-29.1l-96.8-80.1
			c-8-5.9-20.3-6.8-28.1,3.1l-204.9,248.5c-2.1,3.1-3.1,6.2-4.2,9.4l-26,132.1C72.511,420.104,90.611,424.004,100.911,419.404z
			 M326.611,49.004l65.5,54.1l-177.7,217.1l-64.9-53.7L326.611,49.004z M133.411,306.904l44.4,36.8l-57.2,23.6L133.411,306.904z"
            />
            <path
              d="M469.111,448.504h-349.5c0,0-72.5,3.4-75.2-15.2c0-1-1.8-5.6,7.6-17c7.3-9.4,6.2-21.8-2.1-29.1
			c-9.4-7.3-21.8-6.2-29.1,2.1c-19.8,23.9-25,44.7-15.6,63.5c25.5,47.5,111.3,36.3,115.4,37.3h348.5c11.4,0,20.8-9.4,20.8-20.8
			C490.011,457.804,480.611,448.504,469.111,448.504z"
            />
          </g>
        </g>
      </svg>
    </div>
    <div class="title">
      <b>About {{ (country$ | async)?.name?.common }}:</b>
    </div>
    <div class="info">
      <div>
        Region: <span>{{ (country$ | async)?.region }}</span>
      </div>
      <div>
        Population:
        <span>{{ (country$ | async)?.population | number }}</span>
      </div>
      <div>
        Area: <span>{{ (country$ | async)?.area | number }} km²</span>
      </div>
      <div>
        Capital: <span>{{ (country$ | async)?.capital }}</span>
      </div>
      <div>
        Languages:
        <span>{{ (country$ | async)?.languages | arrayToString: 1 }}</span>
      </div>
      <div>
        Currency:
        <span>{{ (country$ | async)?.currencies | arrayToString: 2 }}</span>
      </div>
      <div class="border-countries">
        See also:
        <a
          *ngFor="let c of (country$ | async)?.borders"
          routerLink="/countries/{{ getOriginalNameOfCountry(c) | async }}"
          >{{ getOriginalNameOfCountry(c) | async }}<span>, </span>
        </a>
      </div>
    </div>
  </div>
</div>
