<div class="body">
  <div class="images" id="images">
    <ng-image-slider
      id="carousel"
      [images]="imageObject"
      [infinite]="true"
      [autoSlide]="5"
      [imageSize]="imageSize"
      slideImage="1"
      [lazyLoading]="true"
      (imageClick)="imageClick()"
      (lightboxClose)="lightboxClose()"
    ></ng-image-slider>
    <!--<div class="image-gallery">
      <svg
        width="24px"
        height="24px"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M9.46967 5.46967C9.76256 5.17678 10.2374 5.17678 10.5303 5.46967L16.5303 11.4697C16.8232 11.7626 16.8232 12.2374 16.5303 12.5303L10.5303 18.5303C10.2374 18.8232 9.76256 18.8232 9.46967 18.5303C9.17678 18.2374 9.17678 17.7626 9.46967 17.4697L14.9393 12L9.46967 6.53033C9.17678 6.23744 9.17678 5.76256 9.46967 5.46967Z"
          fill="black"
        />
      </svg>
      <img src="../../assets/img/627752.jpg" />
      <div class="radio-buttons">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
      <svg
        width="24px"
        height="24px"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M9.46967 5.46967C9.76256 5.17678 10.2374 5.17678 10.5303 5.46967L16.5303 11.4697C16.8232 11.7626 16.8232 12.2374 16.5303 12.5303L10.5303 18.5303C10.2374 18.8232 9.76256 18.8232 9.46967 18.5303C9.17678 18.2374 9.17678 17.7626 9.46967 17.4697L14.9393 12L9.46967 6.53033C9.17678 6.23744 9.17678 5.76256 9.46967 5.46967Z"
          fill="black"
        />
      </svg>
    </div>-->
  </div>
  <div class="spinner-bg" *ngIf="country.length == 0">
    <div class="spinner"></div>
  </div>
  <div class="info-container" id="info-container">
    <div class="edit-button" *ngIf="!isEditing" (click)="edit()">
      <svg
        version="1.1"
        id="Layer_1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        viewBox="0 0 490.584 490.584"
        style="enable-background: new 0 0 490.584 490.584"
        xml:space="preserve"
      >
        <g>
          <g>
            <path
              d="M100.911,419.404l123.8-51c3.1-2.1,6.2-4.2,8.3-6.2l203.9-248.6c6.2-9.4,5.2-21.8-3.1-29.1l-96.8-80.1
			c-8-5.9-20.3-6.8-28.1,3.1l-204.9,248.5c-2.1,3.1-3.1,6.2-4.2,9.4l-26,132.1C72.511,420.104,90.611,424.004,100.911,419.404z
			 M326.611,49.004l65.5,54.1l-177.7,217.1l-64.9-53.7L326.611,49.004z M133.411,306.904l44.4,36.8l-57.2,23.6L133.411,306.904z"
            />
            <path
              d="M469.111,448.504h-349.5c0,0-72.5,3.4-75.2-15.2c0-1-1.8-5.6,7.6-17c7.3-9.4,6.2-21.8-2.1-29.1
			c-9.4-7.3-21.8-6.2-29.1,2.1c-19.8,23.9-25,44.7-15.6,63.5c25.5,47.5,111.3,36.3,115.4,37.3h348.5c11.4,0,20.8-9.4,20.8-20.8
			C490.011,457.804,480.611,448.504,469.111,448.504z"
            />
          </g>
        </g>
      </svg>
    </div>
    <div class="save-button edit-button" *ngIf="isEditing">
      <svg
        version="1.1"
        id="Capa_1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        viewBox="0 0 486 486"
        style="enable-background: new 0 0 486 486"
        xml:space="preserve"
      >
        <g>
          <g>
            <path
              d="M473.7,485.75c6.8,0,12.3-5.5,12.3-12.3v-359.8c0-3.6-1.6-7-4.3-9.3L363,2.85c-0.2-0.2-0.4-0.3-0.6-0.4
			c-0.3-0.2-0.5-0.4-0.8-0.6c-0.4-0.2-0.7-0.4-1.1-0.6c-0.3-0.1-0.6-0.3-0.9-0.4c-0.4-0.2-0.9-0.3-1.3-0.4c-0.3-0.1-0.6-0.2-0.9-0.2
			c-0.8-0.1-1.5-0.2-2.3-0.2H12.3C5.5,0.05,0,5.55,0,12.35v461.3c0,6.8,5.5,12.3,12.3,12.3h461.4V485.75z M384.5,461.25h-283v-184.1
			c0-3.7,3-6.6,6.6-6.6h269.8c3.7,0,6.6,3,6.6,6.6V461.25z M161.8,24.45h180.9v127.8c0,0.8-0.6,1.4-1.4,1.4h-178
			c-0.8,0-1.4-0.7-1.4-1.4V24.45H161.8z M24.6,24.45h112.8v127.8c0,14.3,11.6,25.9,25.9,25.9h178c14.3,0,25.9-11.6,25.9-25.9V38.75
			l94.2,80.6v341.9H409v-184.1c0-17.2-14-31.1-31.1-31.1H108.1c-17.2,0-31.1,14-31.1,31.1v184.2H24.6V24.45z"
            />
            <path
              d="M227.4,77.65h53.8v32.6c0,6.8,5.5,12.3,12.3,12.3s12.3-5.5,12.3-12.3v-44.8c0-6.8-5.5-12.3-12.3-12.3h-66.1
			c-6.8,0-12.3,5.5-12.3,12.3S220.7,77.65,227.4,77.65z"
            />
            <path
              d="M304.5,322.85h-123c-6.8,0-12.3,5.5-12.3,12.3s5.5,12.3,12.3,12.3h123c6.8,0,12.3-5.5,12.3-12.3
			S311.3,322.85,304.5,322.85z"
            />
            <path
              d="M304.5,387.75h-123c-6.8,0-12.3,5.5-12.3,12.3s5.5,12.3,12.3,12.3h123c6.8,0,12.3-5.5,12.3-12.3
			S311.3,387.75,304.5,387.75z"
            />
          </g>
        </g>
      </svg>
    </div>
    <div class="up-arrow" id="info-up-arrow" (click)="showInfo()">
      <svg
        version="1.1"
        id="Capa_1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        viewBox="0 0 490 490"
        style="enable-background: new 0 0 490 490"
        xml:space="preserve"
      >
        <g>
          <g>
            <polygon
              points="0,332.668 245.004,82.631 490,332.668 413.507,407.369 245.004,235.402 76.493,407.369 		"
            />
          </g>
        </g>
      </svg>
    </div>
    <div class="title">
      <b>About {{ country[0].name.common }}:</b>
    </div>
    <div class="info">
      <div>
        Region: <span>{{ country[0].region }}</span>
      </div>
      <div>
        Population: <span>{{ country[0].population | number }}</span>
      </div>
      <div>
        Area: <span>{{ country[0].area | number }} km²</span>
      </div>
      <div>
        Capital: <span>{{ country[0].capital }}</span>
      </div>
      <div>
        Languages: <span>{{ country[0].languages | arrayToString: 1 }}</span>
      </div>
      <div>
        Currency: <span>{{ country[0].currencies | arrayToString: 2 }}</span>
      </div>
    </div>
    <div class="border-countries">
      See also:
      <a *ngFor="let c of country[0].borders" routerLink="/countries/{{ c }}"
        >{{ c }}<span>, </span>
      </a>
    </div>
    <!-- <div class="countries-av" (click)="showCountries()">
      <img src="../../assets/img/1200px-Flag_of_Lebanon.svg.webp" />
      <div>United Kingdom</div>
      <img src="../../assets/img/down-arrow-svgrepo-com.svg" />
    </div>
    <div class="country-dialog" id="country-dialog">
      <div class="item">
        <img src="../../assets/img/1200px-Flag_of_Lebanon.svg.webp" />
        <div>Lebanon</div>
      </div>
      <div class="item">
        <img src="../../assets/img/1200px-Flag_of_Lebanon.svg.webp" />
        <div>Lebanon</div>
      </div>
      <div class="item">
        <img src="../../assets/img/1200px-Flag_of_Lebanon.svg.webp" />
        <div>Lebanon</div>
      </div>
      <div class="item">
        <img src="../../assets/img/1200px-Flag_of_Lebanon.svg.webp" />
        <div>Lebanon</div>
      </div>
      <div class="item">
        <img src="../../assets/img/1200px-Flag_of_Lebanon.svg.webp" />
        <div>Lebanon</div>
      </div>
    </div> -->
  </div>
</div>
