.body::-webkit-scrollbar {
  width: 5px;
}
.body::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
  margin-bottom: 70px;
}
.body::-webkit-scrollbar-thumb {
  background-color: rgba(75, 75, 75, 0.726);
  border-radius: 5px;
}

.body {
  height: 100vh;
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  position: relative;

  font-family: "ArvoRegular", Arial, Helvetica, sans-serif;

  .spinner-bg {
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.87);
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;

    .spinner {
      width: 112px;
      height: 112px;
      display: grid;
      animation: spinner-plncf9 4s infinite;
    }

    .spinner::before,
    .spinner::after {
      content: "";
      grid-area: 1/1;
      border: 18px solid;
      border-radius: 50%;
      border-color: #474bff #474bff #0000 #0000;
      mix-blend-mode: darken;
      animation: spinner-plncf9 1s infinite linear;
    }

    .spinner::after {
      border-color: #0000 #0000 #a8a8b6 #a8a8b6;
      animation-direction: reverse;
    }
  }

  .info-container::-webkit-scrollbar {
    width: 2px;
  }
  .info-container::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .info-container::-webkit-scrollbar-thumb {
    background-color: rgba(75, 75, 75, 0.726);
    border-radius: 5px;
  }

  .info-container {
    margin-top: -80px;
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    height: 75vh;
    color: rgb(27, 27, 27);
    background-color: white;
    padding: 50px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;

    .edit-button {
      position: absolute;
      top: 30px;
      right: 30px;
      svg {
        height: 20px;
        width: 20px;
      }

      &:hover {
        svg {
          fill: rgb(0, 119, 255);
        }
        cursor: pointer;
      }
    }

    .up-arrow {
      display: none;
    }

    .info {
      display: flex;
      flex-direction: column;
      font-size: 1.1rem;
      height: 40vh;
      div {
        text-align: left;
        margin-bottom: 20px;
        span {
          color: #757575;
        }
        .user-input {
          margin-left: 10px;
          input {
            height: 20px;
            width: 175px;
            padding: 5px;
            margin: 0;
          }
        }
      }
      .border-countries {
        margin-top: 20px;
        width: 30vw;
        padding-bottom: 20px;
        a {
          color: rgb(50, 146, 255);
          text-decoration: none;

          span {
            color: rgb(90, 90, 90);
          }
          &:hover {
            cursor: pointer;
          }

          &:last-child {
            span {
              display: none;
            }
          }
        }
      }
    }

    .title {
      font-size: 1.5rem;
      margin-bottom: 40px;
      color: black;
      width: 300px;
      line-height: 30px;
    }
  }

  .images {
    margin-top: -80px;
    height: 75vh;
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(58, 58, 58);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 9999;

    #carousel {
      width: 95%;
    }

    /*.image-gallery {
      width: 90vw;
      height: 75%;
      filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.25));
      img {
        object-fit: contain;
        height: 100%;
        width: 100%;
        padding: 20px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      }

      .radio-buttons {
        position: absolute;
        bottom: -30px;
        display: flex;
        align-items: center;
        left: 50%;
        transform: translateX(-50%);

        .dot {
          background-color: #d9d9d9;
          width: 13px;
          height: 13px;
          border-radius: 50%;
          opacity: 1;
          margin-right: 5px;
          &:first-child,
          &:last-child {
            opacity: 0.2;
            width: 11px;
            height: 11px;
          }
          &:nth-child(2),
          &:nth-child(4) {
            opacity: 0.4;
            width: 12px;
            height: 12px;
          }
        }
      }
      svg {
        z-index: 99999;
        bottom: 45%;
        height: 40px;
        width: 40px;
        &:nth-child(1) {
          position: absolute;
          left: 20px;
          transform: rotate(180deg);
        }
        &:nth-child(4) {
          position: absolute;
          right: 20px;
        }
        &:hover {
          cursor: pointer;
        }
      }
    }*/
  }
}

@keyframes spinner-plncf9 {
  100% {
    transform: rotate(1turn);
  }
}

@media screen and (max-width: 1023px) {
  .body::-webkit-scrollbar {
    width: 0;
  }

  .body {
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    overflow-y: scroll;
    display: block;

    .info-container {
      height: fit-content;
      width: 100vw;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      margin-top: 0;
      overflow-y: unset;
      min-height: 550px;

      .info {
        .border-countries {
          width: 90vw;
        }
      }
      .title {
        width: 80vw;
      }
    }

    .images {
      width: 100vw;
      align-items: unset;
      margin-top: 0;
      height: fit-content;
      #carousel {
        z-index: 99999;
        margin-top: 30px;
        padding-bottom: 30px;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .body {
    .info-container {
      padding-left: 30px;
    }
  }
}

@media screen and (max-width: 400px) {
  .body {
    .info-container {
      .info {
        font-size: 1rem;
      }
      .title {
        font-size: 1.2rem;
        width: 70vw;
      }
    }
  }
}
