<nav>
  <button>
    <img class="hamburger" src="../../assets/img/hamburger-svgrepo-com.svg" />
  </button>
  <div class="logo">
    <img src="../../assets/img/earth-globe-svgrepo-com.svg" />
    <span><b>COUNTRIES API</b></span>
  </div>
  <ul>
    <li>Home</li>
    <li>About</li>
    <li>Contact Us</li>
  </ul>
</nav>

<div class="body">
  <div class="images">
    <div class="image-gallery">
      <svg
        width="24px"
        height="24px"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M9.46967 5.46967C9.76256 5.17678 10.2374 5.17678 10.5303 5.46967L16.5303 11.4697C16.8232 11.7626 16.8232 12.2374 16.5303 12.5303L10.5303 18.5303C10.2374 18.8232 9.76256 18.8232 9.46967 18.5303C9.17678 18.2374 9.17678 17.7626 9.46967 17.4697L14.9393 12L9.46967 6.53033C9.17678 6.23744 9.17678 5.76256 9.46967 5.46967Z"
          fill="#FFFFFF"
        />
      </svg>
      <img src="../../assets/img/000_1Q28WB.webp" />
      <div class="radio-buttons">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
      <svg
        width="24px"
        height="24px"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M9.46967 5.46967C9.76256 5.17678 10.2374 5.17678 10.5303 5.46967L16.5303 11.4697C16.8232 11.7626 16.8232 12.2374 16.5303 12.5303L10.5303 18.5303C10.2374 18.8232 9.76256 18.8232 9.46967 18.5303C9.17678 18.2374 9.17678 17.7626 9.46967 17.4697L14.9393 12L9.46967 6.53033C9.17678 6.23744 9.17678 5.76256 9.46967 5.46967Z"
          fill="#FFFFFF"
        />
      </svg>
    </div>
  </div>
  <div class="info-container">
    <div class="title"><b>About Lebanon:</b></div>
    <div>Population: 6,825,442</div>
    <div>Area: 10,452 km²</div>
    <div>Capital: Beirut</div>
    <div>Languages: Arabic, French</div>
    <div>Currency: Lebanese pound, ل.ل</div>
  </div>
</div>
