<form class="components" [formGroup]="loginForm" (onSubmit)="onSubmitForm()">
  <div class="title">
    <b>{{ "LoginSection.loginTitle" | transloco }}</b>
  </div>
  <div class="input-container">
    <label for="email">{{ "LoginSection.emailAddress" | transloco }}</label>
    <input
      name="email"
      type="email"
      placeholder="{{ 'LoginSection.enterYourEmail' | transloco }}"
      formControlName="Username"
    />
    <p *ngIf="testEmail" style="color: red; margin-top: 3px; width: 90%">
      {{ "LoginSection.emailInvalid" | transloco }}
    </p>
  </div>
  <div class="input-container">
    <label for="password">{{ "LoginSection.password" | transloco }}</label>
    <input name="password" type="password" formControlName="Password" />
    <p *ngIf="testPassword" style="color: red; margin-top: 3px; width: 90%">
      {{ "LoginSection.passwordRequired" | transloco }}
    </p>
  </div>
  <div class="checkbox-container">
    <input type="checkbox" name="remember" />
    <label for="remember">{{ "LoginSection.remember" | transloco }}</label>
  </div>
  <div class="wrong-credentials" *ngIf="this.loginError">
    {{ "LoginSection.wrongCredentials" | transloco }}
  </div>
  <button type="submit" [disabled]="loginForm.invalid" (click)="login()">
    <b>{{ "LoginSection.signIn" | transloco }}</b>
  </button>
  <div class="signup">
    <i>{{ "LoginSection.noAccount" | transloco }} </i>
    <a routerLink="/register"
      ><b> {{ "LoginSection.signUp" | transloco }}</b></a
    >
  </div>
</form>
