<form class="components" [formGroup]="loginForm" (onSubmit)="onSubmitForm()">
  <div class="title">
    <b>{{ "LoginSection.loginTitle" | transloco }}</b>
  </div>
  <div class="input-container">
    <label for="email">{{ "LoginSection.emailAddress" | transloco }}</label>
    <input
      name="email"
      type="email"
      placeholder="{{ 'LoginSection.enterYourEmail' | transloco }}"
      formControlName="Username"
    />
    <p *ngIf="testEmail" style="color: red; margin-top: 3px; width: 90%">
      {{ "LoginSection.emailInvalid" | transloco }}
    </p>
  </div>
  <div class="input-container">
    <label for="password">{{ "LoginSection.password" | transloco }}</label>
    <input
      name="password"
      type="password"
      formControlName="Password"
      id="passInput"
    />
    <svg
      width="213"
      height="177"
      viewBox="0 0 213 177"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      (click)="unShow()"
      id="noeye"
    >
      <path
        d="M104.312 57.0559C88.3122 57.0559 75.261 70.7141 75.261 87.5375C75.261 104.318 88.2689 118.019 104.312 118.019C120.311 118.019 133.363 104.361 133.363 87.5375C133.363 70.7574 120.311 57.0559 104.312 57.0559V57.0559Z"
        fill="black"
      />
      <path
        d="M104.312 135.71C78.5564 135.71 57.5704 114.117 57.5704 87.5375C57.5704 60.9582 78.5564 39.3652 104.312 39.3652C130.067 39.3652 151.053 60.9582 151.053 87.5375C151.053 114.117 130.067 135.71 104.312 135.71V135.71ZM211.106 82.8547C183.443 38.4547 146.154 14 106.22 14C66.2856 14 28.9966 38.4547 1.3333 82.8547C-0.444434 85.7164 -0.444434 89.3586 1.3333 92.2203C28.9966 136.62 66.2856 161.075 106.22 161.075C146.154 161.075 183.399 136.62 211.106 92.2203C212.884 89.3586 212.884 85.7164 211.106 82.8547Z"
        fill="black"
      />
      <rect
        x="28.5398"
        y="167.515"
        width="218.527"
        height="13.99"
        transform="rotate(-50 28.5398 167.515)"
        fill="black"
      />
    </svg>
    <svg
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 512 512"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      enable-background="new 0 0 512 512"
      (click)="show()"
      id="eye"
    >
      <g>
        <g>
          <path
            d="m251.6,185.7c-36.9,0-67,31.5-67,70.3 0,38.7 30,70.3 67,70.3 36.9,0 67-31.5 67-70.3 0-38.7-30.1-70.3-67-70.3z"
          />
          <path
            d="m251.6,367.1c-59.4,0-107.8-49.8-107.8-111.1 0-61.3 48.4-111.1 107.8-111.1s107.8,49.8 107.8,111.1c0,61.3-48.4,111.1-107.8,111.1zm246.3-121.9c-63.8-102.4-149.8-158.8-241.9-158.8-92.1,0-178.1,56.4-241.9,158.8-4.1,6.6-4.1,15 0,21.6 63.8,102.4 149.8,158.8 241.9,158.8 92.1,0 178-56.4 241.9-158.8 4.1-6.6 4.1-15 0-21.6z"
          />
        </g>
      </g>
    </svg>
    <p *ngIf="testPassword" style="color: red; margin-top: 3px; width: 90%">
      {{ "LoginSection.passwordRequired" | transloco }}
    </p>
  </div>
  <div class="checkbox-container">
    <input type="checkbox" name="remember" />
    <label for="remember">{{ "LoginSection.remember" | transloco }}</label>
  </div>
  <div class="wrong-credentials" *ngIf="this.loginError">
    {{ "LoginSection.wrongCredentials" | transloco }}
  </div>
  <button type="submit" [disabled]="loginForm.invalid" (click)="login()">
    <b>{{ "LoginSection.signIn" | transloco }}</b>
  </button>
  <div class="signup">
    <i>{{ "LoginSection.noAccount" | transloco }} </i>
    <a routerLink="/register"
      ><b> {{ "LoginSection.signUp" | transloco }}</b></a
    >
  </div>
</form>
