.components {
  margin-top: 25px;
  margin-left: 35px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  height: fit-content;

  .title {
    font-size: 1.75rem;
    margin-bottom: 40px;
    margin-top: 30px;
    margin-right: 30px;
  }

  .input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    position: relative;
    label {
      font-size: 1.25rem;
      margin-bottom: 10px;
    }
    input {
      font-size: 1rem;
      line-height: 16px;
      width: 450px;
      height: 40px;
      padding-left: 10px;
      background: #e9e9e9;
      border: 1px solid #bfbfbf;
      border-radius: 7px;
      font-family: "ArvoRegular", Arial, sans-serif;

      &:focus {
        outline: none !important;
        border: 1px solid rgb(69, 69, 255);
      }
    }
  }

  .checkbox-container {
    margin-left: 15px;
    margin-top: -5px;
    display: flex;
    align-items: center;

    input {
      margin-right: 10px;
      width: 15px;
      height: 15px;
      background: #e9e9e9;
    }
    label {
      font-size: 1rem;
    }
  }

  button {
    width: 140.3px;
    height: 38.78px;

    background: #005794;
    border-radius: 6px;
    font-size: 12px;
    line-height: 13px;
    font-family: "ArvoRegular", Arial, sans-serif;
    color: white;
    border: none;
    margin-top: 60px;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }

    &:disabled {
      cursor: unset;
      opacity: 0.7;
    }
  }

  .signin {
    margin-top: 10px;
    margin-bottom: 50px;
    a {
      color: rgb(84, 84, 177);

      &:hover {
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 1040px) {
  .components {
    .title {
      font-size: 1.5rem;
    }
    .input-container {
      label {
        font-size: 1rem;
      }
      input {
        font-size: 0.9rem;
        width: 90%;
        height: 40px;
      }
    }
    .checkbox-container {
      input {
        width: 15px;
        height: 15px;
      }
      label {
        font-size: 0.9rem;
      }
    }
  }
}
@media screen and (max-width: 750px) {
  .components {
    .title {
      font-size: 1.5rem;
      line-height: 1.5;
    }
    .input-container {
      label {
        font-size: 1.2rem;
      }
      input {
        font-size: 0.9rem;
        width: 275px;
      }
    }
    .checkbox-container {
      input {
        width: 15px;
        height: 15px;
      }
      label {
        font-size: 0.9rem;
      }
    }
  }
}
@media screen and (max-width: 670px) {
  .components {
    .title {
      font-size: 1.58rem;
      line-height: 1.5;
    }
    .input-container {
      label {
        font-size: 1.5rem;
      }
      input {
        font-size: 1rem;
        width: 90%;
        height: 40px;
      }
    }
    .checkbox-container {
      input {
        width: 15px;
        height: 15px;
      }
      label {
        font-size: 1rem;
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .components {
    .title {
      font-size: 1.5rem;
      line-height: 1.5;
    }
    .input-container {
      label {
        font-size: 1.2rem;
      }
      input {
        font-size: 0.9rem;
        width: 88%;
        height: 40px;
      }
    }
    .checkbox-container {
      input {
        width: 15px;
        height: 15px;
      }
      label {
        font-size: 1rem;
      }
    }
  }
}
@media screen and (max-width: 420px) {
  .components {
    .title {
      font-size: 1.4rem;
      line-height: 1.5;
    }
    .input-container {
      label {
        font-size: 1.2rem;
      }
      input {
        font-size: 0.9rem;
        width: 85%;
        height: 40px;
      }
    }
    .checkbox-container {
      input {
        width: 15px;
        height: 15px;
      }
      label {
        font-size: 1rem;
      }
    }
  }
}
@media screen and (max-width: 360px) {
  .components {
    margin-left: 20px;
    .title {
      font-size: 1.25rem;
      line-height: 1.5;
    }
    .input-container {
      label {
        font-size: 1rem;
      }
      input {
        font-size: 0.9rem;
        width: 90%;
        height: 35px;
      }
    }
    .checkbox-container {
      input {
        width: 12px;
        height: 12px;
      }
      label {
        font-size: 0.9rem;
      }
    }
  }
}
