<form class="components" [formGroup]="regForm" (onSubmit)="onSubmitForm()">
  <div class="title">
    <b>{{ "RegisterSection.registerTitle" | transloco }}</b>
  </div>
  <div class="input-container">
    <label for="firstName">{{ "RegisterSection.firstName" | transloco }}</label>
    <input
      name="firstName"
      type="text"
      placeholder="{{ 'RegisterSection.enterFirstName' | transloco }}"
      formControlName="Firstname"
    />
    <p *ngIf="testFn" style="color: red; margin-top: 3px; width: 90%">
      {{ "RegisterSection.inputRequired" | transloco }}
    </p>
  </div>
  <div class="input-container">
    <label for="lastName">{{ "RegisterSection.lastName" | transloco }}</label>
    <input
      name="lastName"
      type="type"
      placeholder="{{ 'RegisterSection.enterLastName' | transloco }}"
      formControlName="Lastname"
    />
    <p *ngIf="testLn" style="color: red; margin-top: 3px; width: 90%">
      {{ "RegisterSection.inputRequired" | transloco }}
    </p>
  </div>
  <div class="input-container">
    <label for="email">{{ "LoginSection.emailAddress" | transloco }}</label>
    <input
      name="email"
      type="email"
      placeholder="{{ 'LoginSection.enterYourEmail' | transloco }}"
      formControlName="Email"
    />
    <p *ngIf="testEmail" style="color: red; margin-top: 3px; width: 90%">
      {{ "LoginSection.emailInvalid" | transloco }}
    </p>
  </div>
  <div class="input-container">
    <label for="password">{{ "LoginSection.password" | transloco }}</label>
    <input name="password" type="password" formControlName="Password" />
    <p *ngIf="testPassword" style="color: red; margin-top: 3px; width: 90%">
      {{ "RegisterSection.passwordLength" | transloco }}
    </p>
  </div>
  <div class="input-container">
    <label for="rePassword">{{
      "RegisterSection.confirmPassword" | transloco
    }}</label>
    <input name="rePassword" type="password" formControlName="rePassword" />
    <p
      *ngIf="testRePassword_Input"
      style="color: red; margin-top: 3px; width: 90%"
    >
      {{ "RegisterSection.inputRequired" | transloco }}
    </p>
    <p
      *ngIf="testRePassword_Chars"
      style="color: red; margin-top: 3px; width: 90%"
    >
      {{ "RegisterSection.passwordLength" | transloco }}
    </p>
    <p
      *ngIf="testRePassword_Match"
      style="color: red; margin-top: 3px; width: 90%"
    >
      {{ "RegisterSection.passDontMatch" | transloco }}
    </p>
  </div>
  <div class="checkbox-container">
    <input
      type="checkbox"
      name="admin"
      [value]="false"
      formControlName="isAdmin"
    />
    <label for="admin">{{ "RegisterSection.isAdmin" | transloco }}</label>
  </div>

  <div class="register-error" *ngIf="this.registerError">
    {{ "RegisterSection.errorRegister" | transloco }}
  </div>

  <button type="submit" [disabled]="regForm.invalid" (click)="register()">
    <b>{{ "RegisterSection.register" | transloco }}</b>
  </button>

  <div class="signin">
    <i>{{ "RegisterSection.haveAnAccount" | transloco }} </i>
    <a routerLink="/login"
      ><b> {{ "LoginSection.signIn" | transloco }}</b></a
    >
  </div>
</form>
