<form class="components" [formGroup]="regForm" (onSubmit)="onSubmitForm()">
  <div class="title">
    <b>Register new Account</b>
  </div>
  <div class="input-container">
    <label for="firstName">First Name</label>
    <input
      name="firstName"
      type="text"
      placeholder="Enter your first name"
      formControlName="Firstname"
    />
    <p *ngIf="testFn" style="color: red; margin-top: 3px; width: 90%">
      This input is required.
    </p>
  </div>
  <div class="input-container">
    <label for="lastName">Last Name</label>
    <input
      name="lastName"
      type="type"
      placeholder="Enter your last name"
      formControlName="Lastname"
    />
    <p *ngIf="testLn" style="color: red; margin-top: 3px; width: 90%">
      This input is required.
    </p>
  </div>
  <div class="input-container">
    <label for="email">Email Address</label>
    <input
      name="email"
      type="email"
      placeholder="Enter your email"
      formControlName="Email"
    />
    <p *ngIf="testEmail" style="color: red; margin-top: 3px; width: 90%">
      Email is invalid.
    </p>
  </div>
  <div class="input-container">
    <label for="password">Password</label>
    <input name="password" type="password" formControlName="Password" />
    <p *ngIf="testPassword" style="color: red; margin-top: 3px; width: 90%">
      Password of minimum 8 characters is required.
    </p>
  </div>
  <div class="input-container">
    <label for="rePassword">Confirm Password</label>
    <input name="rePassword" type="password" formControlName="rePassword" />
    <p
      *ngIf="testRePassword_Input"
      style="color: red; margin-top: 3px; width: 90%"
    >
      Input is required.
    </p>
    <p
      *ngIf="testRePassword_Chars"
      style="color: red; margin-top: 3px; width: 90%"
    >
      Password of minimum 8 characters is required.
    </p>
    <p
      *ngIf="testRePassword_Match"
      style="color: red; margin-top: 3px; width: 90%"
    >
      Passwords don't match.
    </p>
  </div>
  <div class="checkbox-container">
    <input type="checkbox" name="admin" [value]="false" [(ngModel)]="isAdmin" />
    <label for="admin">Is Admin</label>
  </div>

  //FIXME
  <button type="submit" [disabled]="regForm.invalid" (click)="register()">
    <b>Register</b>
  </button>
  <div class="signin">
    <i>Already have an account? </i>
    <a routerLink="/login"><b> Sign In</b></a>
  </div>
</form>
