<form class="components">
  <div class="title">
    <b>Register new Account</b>
  </div>
  <div class="input-container">
    <label for="firstName">First Name</label>
    <input name="firstName" type="text" placeholder="Enter your first name" />
  </div>
  <div class="input-container">
    <label for="lastName">Last Name</label>
    <input name="lastName" type="type" placeholder="Enter your last name" />
  </div>
  <div class="input-container">
    <label for="email">Email Address</label>
    <input name="email" type="email" placeholder="Enter your email" />
  </div>
  <div class="input-container">
    <label for="email">Password</label>
    <input name="email" type="password" />
  </div>
  <div class="checkbox-container">
    <input type="checkbox" name="admin" />
    <label for="admin">Is Admin</label>
  </div>
  <button type="submit"><b>Register</b></button>
  <div class="signin">
    <i>Already have an account? </i>
    <a routerLink="/login"><b> Sign In</b></a>
  </div>
</form>
