.lang {
  position: relative;
  height: 40px;
  width: 118px;
  border: 1px solid #eee;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  z-index: 9999;
  font-family: "ArvoRegular", Arial, Helvetica, sans-serif;
  img {
    height: 20px;
    object-fit: contain;
    margin-left: 10px;
    margin-right: 10px;
    &:last-child {
      height: 10px;
    }
  }
  div {
    font-size: 1.1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &:hover {
    cursor: pointer;
    border: 1px solid #808080;
  }
}
.lang-dialog {
  display: none;
  position: absolute;
  grid-template-columns: 1;
  flex-direction: column;
  top: 0px;
  right: 0px;
  background-color: white;
  height: fit-content;
  padding: 10px 0;
  width: 118px;
  box-shadow: -2px 4px 4px 2px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  font-family: "BebasNeue", Arial, Helvetica, sans-serif;
  -webkit-animation: scale-up-tr 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-tr 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  z-index: 9999;
  .item {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    img {
      height: 25px;
      object-fit: contain;
      margin-right: 10px;
      &:last-child {
        height: 10px;
      }
    }
    div {
      font-size: 1.2rem;
      font-family: "ArvoRegular", Arial, Helvetica, sans-serif;
    }
    &:hover {
      cursor: pointer;
      background-color: #c7c7c7;
    }
  }
}

@-webkit-keyframes scale-up-tr {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
}
@keyframes scale-up-tr {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
}
