.body {
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
    margin-top: -10px;
    margin-bottom: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(75, 75, 75, 0.726);
    border-radius: 5px;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  height: 90vh;
  overflow-y: scroll;
  overflow-x: hidden;
  .input-container {
    margin-top: 10px;
    position: relative;
    z-index: 999;
    background-color: #e2e2e2;
    width: 95vw;
    display: flex;
    justify-content: center;
    align-items: center;
    input[type="text"] {
      height: 50px;
      width: 95vw;
      padding-left: 15px;
      padding-right: 120px;
      font-size: 1.25rem;
      font-family: "ArvoRegular", Arial, Helvetica, sans-serif;
      background: #f7f7f7;
      border: 1px solid #c4c4c4;
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
      border-radius: 14px;
      &:focus {
        outline: none !important;
        border: 1px solid #555;
      }
    }
    .filter {
      position: absolute;
      height: 50px;
      width: 50px;
      border: none;
      transition: all 0.5s;
      background-color: transparent;
      right: 50px;
      &:hover {
        cursor: pointer;
        background-color: gray;
        svg {
          fill: white;
        }
      }
      svg {
        height: 25px;
        width: 25px;
        transition: all 0.5s;
        height: 30px;
        width: 30px;
      }
    }
    .search {
      position: absolute;
      height: 50px;
      width: 50px;
      border: none;
      transition: all 0.5s;
      background-color: transparent;
      right: 0px;
      border-top-right-radius: 14px;
      border-bottom-right-radius: 14px;
      &:hover {
        cursor: pointer;
        background-color: gray;
        svg {
          fill: white;
        }
      }
      svg {
        height: 25px;
        width: 25px;
        transition: all 0.5s;
      }
    }
    .filter-dialog {
      display: none;
      position: absolute;
      bottom: -45px;
      right: 50px;
      background-color: white;
      height: 50px;
      width: 140px;
      box-shadow: -2px 4px 4px 2px rgba(0, 0, 0, 0.25);
      border-radius: 6px;
      font-family: "ArvoRegular", Arial, Helvetica, sans-serif;
      align-items: center;
      justify-content: center;
      -webkit-animation: scale-up-tr 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
        both;
      animation: scale-up-tr 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
      input {
        height: 20px;
        width: 20px;
        margin-right: 10px;
      }
      label {
        font-size: 1.3rem;
      }
    }
  }
  .spinner {
    width: 112px;
    height: 112px;
    display: grid;
    animation: spinner-plncf9 4s infinite;
    margin: auto 0;
  }

  .spinner::before,
  .spinner::after {
    content: "";
    grid-area: 1/1;
    border: 18px solid;
    border-radius: 50%;
    border-color: #474bff #474bff #0000 #0000;
    mix-blend-mode: darken;
    animation: spinner-plncf9 1s infinite linear;
  }

  .spinner::after {
    border-color: #0000 #0000 #a8a8b6 #a8a8b6;
    animation-direction: reverse;
  }
  .card-grid {
    margin-top: 20px;
    width: 95vw;
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(166px, 1fr));
    grid-template-columns: repeat(auto-fill, minmax(307px, 1fr));
    column-gap: 20px;
    row-gap: 20px;
  }
  .showing {
    margin-top: 30px;
    margin-bottom: 50px;
    font-family: "ArvoRegular", Arial, Helvetica, sans-serif;
  }
}
@media screen and (max-width: 670px) {
  nav {
    position: relative;
    button {
      .hamburger {
        display: block;
        height: 30px;
        width: 30px;
        margin-left: 20px;
      }
    }
    .logo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      img {
        height: 40px;
        width: 40px;
      }
      span {
        font-size: 18px;
      }
    }
    ul {
      display: none;
    }
  }
  .body {
    .input-container {
      width: 85vw;
      input[type="text"] {
        height: 50px;
        width: 85vw;
      }
      .search {
        right: 0px;
      }
      .filter {
        right: 50px;
      }
    }
    .card-grid {
      width: 85vw;
    }
  }
}
@media screen and (max-width: 520px) {
  .body {
    .input-container {
      width: 90vw;
      input[type="text"] {
        height: 50px;
        width: 90vw;
      }
    }
    .card-grid {
      width: 90vw;
    }
  }
}
@media screen and (max-width: 420px) {
  .body {
    .input-container {
      width: 85vw;
      input[type="text"] {
        height: 50px;
        width: 85vw;
      }
    }
    .card-grid {
      width: 85vw;
    }
  }
}
@media screen and (max-width: 360px) {
  .body {
    .card-grid {
      width: 85vw;
      grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    }
  }
}
@media screen and (max-width: 320px) {
  .body {
    .card-grid {
      width: 85vw;
      grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    }
  }
}

@keyframes spinner-plncf9 {
  100% {
    transform: rotate(1turn);
  }
}
@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(-40vw);
    transform: translateX(-40vw);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-40vw);
    transform: translateX(-40vw);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes scale-up-tr {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
}
@keyframes scale-up-tr {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
}
