<nav>
  <button (click)="onOpenMenu()">
    <img class="hamburger" src="../../assets/img/hamburger-svgrepo-com.svg" />
  </button>
  <div class="logo">
    <img src="../../assets/img/earth-globe-svgrepo-com.svg" />
    <span><b>COUNTRIES API</b></span>
  </div>
  <ul>
    <li routerLink="/countries/">Home</li>
    <li>About</li>
    <li>Contact Us</li>
  </ul>
  <div class="logout" (click)="logout()">Logout :(</div>
  <!-- <div class="countries-av">
    <img src="../../assets/img/1200px-Flag_of_Lebanon.svg.webp" />
    <div>United Kingdom</div>
    <img src="../../assets/img/down-arrow-svgrepo-com.svg" />
  </div>
  <div class="country-dialog" id="country-dialog">
    <div class="item">
      <img src="../../assets/img/1200px-Flag_of_Lebanon.svg.webp" />
      <div>Lebanon</div>
    </div>
    <div class="item">
      <img src="../../assets/img/1200px-Flag_of_Lebanon.svg.webp" />
      <div>Lebanon</div>
    </div>
    <div class="item">
      <img src="../../assets/img/1200px-Flag_of_Lebanon.svg.webp" />
      <div>Lebanon</div>
    </div>
    <div class="item">
      <img src="../../assets/img/1200px-Flag_of_Lebanon.svg.webp" />
      <div>Lebanon</div>
    </div>
    <div class="item">
      <img src="../../assets/img/1200px-Flag_of_Lebanon.svg.webp" />
      <div>Lebanon</div>
    </div>
  </div> -->
</nav>

<div class="side-menu-bg" id="side-menu-bg">
  <div class="side-menu">
    <div>Menu</div>
    <button (click)="onCloseMenu()">
      <img src="../../assets/img/x-svgrepo-com.svg" />
    </button>
    <span routerLink="/countries/">Home</span>
    <span>About</span>
    <span>Contact</span>
    <span class="logout" (click)="logout()">Logout</span>
  </div>
</div>

<router-outlet></router-outlet>
